@model Anlagenverwaltung.Models.HardwareKomponenten.Monitor
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monitor bearbeiten/neu anlegen</h2>

@using (Html.BeginForm("Save", "Monitor"))
{
    @Html.ValidationSummary(true, "Bitte beheben Sie die folgenden Fehler.")
    <div class="form-group">
        @Html.LabelFor(m => m.Hersteller)
        @Html.TextBoxFor(m => m.Hersteller, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Hersteller)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Produktbezeichnung)
        @Html.TextBoxFor(m => m.Produktbezeichnung, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Produktbezeichnung)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Art)
        @Html.TextBoxFor(m => m.Art, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Art)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Zoll)
        @Html.TextBoxFor(m => m.Zoll, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Zoll)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pixel)
        @Html.TextBoxFor(m => m.Pixel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pixel)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Einkaufspreis)
        @Html.EditorFor(model => model.Einkaufspreis, new { htmlAttributes = new { @type = "float", @min = "0.00", @step = "0.01", @value = "0" } })
        @Html.Label("€")
        @Html.ValidationMessageFor(m => m.Einkaufspreis)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Einkaufsdatum)
        @Html.TextBoxFor(m => m.Einkaufsdatum, "{0:d MMM yyyy}", new { @class = "datepicker" })
        @Html.ValidationMessageFor(m => m.Einkaufsdatum)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "2000:2025",
                showOn: "both",
                buttonText: "<i class='fa fa-calendar'></i>"
            });
        });
    </script>
}